body{ 

    margin: 0%;
    padding: 0%;
    font-family: Arial
}

.navbar ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.navbar li{
    display: inline-block;
    text-align: center;
    
}

.navbar a {color: red;
width: 100px;
display: block;
padding: 15px;
}

img {width: 100%;}

.text {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;

color: #373737;
}

footer{
    text-align: right;
}